<p>addplayers works!</p>
<hr>
<form (ngSubmit)="saveData(playerdata)" #playerform="ngForm">
    <div>
        <label for="name">Player Name</label>
        <input type="text" id="name" name="name" placeholder="Enter Player Name"
        [(ngModel)]="playerdata.name" required #name="ngModel">
    </div>

    <div>
        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="Enter Rating:"
        [(ngModel)]="playerdata.rating" required #name="ngModel">
    </div>

    <div>
        <label for="name">Release Year</label>
        <input type="text" id="ra" name="rating" placeholder="Enter Rating:"
        [(ngModel)]="playerdata.rating" required #name="ngModel">
    </div>


